
analizara/build/classes/analizara/register\$*.class
analizara/fichero.txt

.DS_Store
*/.DS_Store
*/.DS_Store?
*/._*

register*.class





# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.bak
*.orig
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/vcs.xml
.idea/webResources.xml
.idea/ant.xml
.idea/codeStyles
.idea/scopes
.idea/runConfigurations
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/inspectEstimates.xml
.idea/inspectionProfiles
.idea/externalLibraries
.idea/gradle.settings.xml
.idea/gradle.tasks.xml
.idea/gradle.projects.xml
.idea/gradle.properties
.idea/gradle/gradle.xml
.idea/gradle/gradle-*.xml
.idea/gradle/gradle-*.properties
.idea/gradle/gradle-*.gradle
.idea/gradle/gradle-*.gradle.kts
.idea/gradle/gradle-*.gradle.kts.properties
.idea/gradle/gradle-*.gradle.kts.properties.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml.xml.xml.xml.xml.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties
.idea/gradle/gradle-*.gradle.kts.properties.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml
.idea/gradle/gradle-*.gradle.kts.properties.xml.xml.xml

# Eclipse
.classpath
.project
.settings/
*.launch
*.classpath
*.project
*.pydevproject
*.properties
*.prefs
*.jsd
*.mymetadatav2
*.tmproj
*.tmproject
*.tmtags
*.tmproperties
*.tsd
*.tsproject
*.tsproperties
*.tss
*.tssproject
*.tssproperties
*.wtpmodules
*.component
*.bin
*.bak
*.tmp
*.tmp.*
*.swp
*.swp.*
*.bak.*
*.bak.*
*.orig
*.orig.*
*.rej
*.rej.*
*.log
*.log.*
*.tmp
*.tmp.*
*.tmp-*
*.tmp-*
*.tmp.*
*.tmp-*
*.tmp-*
*.tmp-*
*.tmp-*
*.tmp-*
*.tmp-*
*.tmp-*

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/build/
/nbbuild/
/nbactions.xml
/nb-configuration.xml
/nb-configuration.xml.orig
/nb-configuration.xml.bak
/nb-configuration.xml~
/nb-configuration.xml.orig~
/nb-configuration.xml.bak~
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml~
/nb-configuration.xml.orig~
/nb-configuration.xml.bak~
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*
/nb-configuration.xml.bak.*
/nb-configuration.xml.orig.*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
.mvn/
mvn/
.m2/
.m2/repository/
.m2/wrapper/
.m2/settings.xml
.m2/toolchains.xml
maven-archetype-metadata.xml
maven-archetype-metadata-jdom.xml
maven-archetype-metadata-jdom.properties
maven-archetype-metadata.properties
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml
maven-archetype-plugin.properties
maven-archetype-plugin.xml
maven-archetype-plugin-jdom.properties
maven-archetype-plugin-jdom.xml


